
/* Css geral */
body {
    font-family: Nunito, sans-serif;
    font-weight: 600;
    height: 100%;
}

.card {
    margin-top: 1em;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
}

/* Css Login */

.login-card {  
    margin: 0 auto;
    margin-top: 10;
    box-shadow: 6px 6px 0px -2px #737373;
}

.login-erro {
    background-color: #F2DEDE;
    color: #A94442;
    padding: 10px 0;
    margin-left: 20px;
    width: 90%;
    border-radius: 5px;

}

.login-sucess {
    background-color: #c6d2fc;
    color: #3a8da7;
    padding: 10px 0;
    margin-left: 20px;
    width: 90%;
    border-radius: 5px;

}

.login-card h2 {
    font-size: 18pt;
    padding-top: 1em;
}

.login-card label {
    padding: 0;
    margin: 3em 0 0;
}

.botao-entrar {
    margin-top: 2em;
}

/* Css Sugestões */

.sugest-card {  
    margin: 0 auto;
    box-shadow: 6px 6px 0px -2px #737373;
}

.sugest-card h2 {
    font-size: 18pt;
    padding-top: 1em;
}

.sugest-card label {
    padding: 0;
    margin: 3em 0 0;
}

.text-justify {
    text-align: justify;
}

.big-card {
    margin-top: 1em;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
    margin-bottom: 20px;
}

.title {
    font-size: 18pt;
    margin-top: 10px;
}

.big-card p {
    font-size: 14pt;
    margin-left: 30px;
    text-align: justify;
}


/* INDEX */

#home {
    background: url(../img/img-grupo.jpg) no-repeat center center fixed;
    display: table;
    height: 600px;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    font-family: 'Shippori Antique B1', sans-serif;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}

.text-principal {
    font-size: 32pt;
}

.two-section {
    margin-top: 25px;
    margin-bottom: 0;
}

.bus-info {
    padding-right: 40px;
}

.link-ativo {
    color: black;
}

/* Area administracao */

.adm-card {
    margin: 3em auto 0;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
    background-color: #ffffff;
}
.adm-card h2, h3 {
    margin-top: 0.6em;
}

.sugest-card label {
    display: block;
    margin-top: 20px;
}

.sugest-card label.selecao {
    display: inline;
}

.piechart {
      background-color: rgba(0, 0, 0, 0);
}

.body-adm {
    background-color: #f3f3f3;
}
.btn-cadastro {
    margin-bottom: 10px;
}

.pesquisa-excluir{
    margin: 20px auto;
}

.tabela-funcionarios tr {
    border-bottom: 1px, solid, rgb(43, 43, 43);
}

.tabela-funcionarios th, td {
    border-bottom: 1px solid #ddd;
  }

.tabela-funcionarios tr:nth-child(even) {background-color: #f2f2f2;}


/* MEDIA QUERIES
//////////////////////////////////////////////
/////////////////////////////////////////////
*/

@media screen and (min-width: 1170px) {

    .bus-info {
        top: 150px;
    }

    .big-card {
        height: 600px;
    }

    .map-div {
        margin-top: 0px;
        height: 500px;
    }

    .mapa {
        position: relative;
        width: 100%;
        height: 100%;
        top: -60px;
        margin-left: -50px;
    }

    .login-card {
        width: 750px;
        height: 400px;
        margin-top: 6em;
    }

    .sugest-card {
        width: 750px;
        height: 700px;
        margin-top: 2em;
    }
    
    .sugest-card input[type="text"], .sugest-card input[type="password"] {
        width: 50%;
    }

    .adm-card {
        width: 20em;
        height: 300px;
    }

    .tabela-funcionarios {
        width: 100%;
    }

    .tabela-funcionarios tr {
        height: 60px;
    }

    .adm-card {
        width: 20em;
        height: 300px;
    }

    .btn-cadastro {
        width: 50%;
    }

    
    
}

@media screen and (max-width: 1169px) {

    .big-card {
        height: 1000px;
    }

    .bus-info {
        top: 300px;
    }

    .map-div {
        height: 700px;
    }

    .mapa {
        width: 100%;
        height: 100%;
        margin-top: 100px;
    }

    .login-card {
        width: 600px;
        height: 500px;
        margin-top: 6em;
    }

    .sugest-card {
        width: 750px;
        height: 700px;
        margin-top: 2em;
    }

    .sugest-card input[type="text"], .sugest-card input[type="password"] {
        width: 50%;
    }

    .tabela-funcionarios {
        width: 100%;
    }

    .tabela-funcionarios tr {
        height: 60px;
    }

}

@media screen and (min-width: 768px) {
    .card {
        height: 125px;
    }

    .into-card {
        margin-top: 2%;
    }

    .image-card {
        transform: translateY(10%);
    }
    .mapa {
        margin-top: 100px;
    }

    .tabela-funcionarios {
        width: 100%;
    }
    
    .tabela-funcionarios tr {
        height: 60px;
    }


}

@media screen and (max-width: 767px) {
    .card {
        height: 200px;
    }

    .into-card {
        margin-top: 10%;
    }

    .image-card {
        transform: translatey(20%);
    }

    .big-card {
        height: 1000px;
    }

    .sugest-card input[type="text"], .sugest-card input[type="password"] {
        width: 70%;
    }

    .tabela-funcionarios {
        width: 100%;
    }

    .tabela-funcionarios tr {
        height: 60px;
    }

}

@media screen and (max-width: 576px) {

    .bus-info {
        top: 0px;
        padding-bottom: 20px;
    }

    .card {
        height: 300px;
    }

    .into-card {
        margin-top: 50%;
    }

    .image-card {
        transform: translateY(10%);
        margin-left: 35%;
    }

    .mapa {
        margin-top: -10px;
    }

    .input-text {
        width: 150px;
    }

    .login-card {
        width: 400px;
        height: 400px;
        margin-top: 6em;
    }

    .sugest-card {
        width: 400px;
        height: 700px;
        margin-top: 2em;
    }

    .login-card input {
        width: 90%;
    }

    .sugest-card input {
        width: 90%;
    }

    .sugest-card input[type="text"], input[type="password"] {
        width: 90%;
    }

    .tabela-funcionarios {
        width: 100%;
    }

    .tabela-funcionarios tr {
        height: 60px;
    }

    .sugest-card textarea {
        width: 90%;
    }
}

@media screen and (max-width: 445px) {

    .card {
        height: 400px;
    }

    .into-card {
        margin-top: 75%;
    }

    .image-card {
        margin-left: 30%;
    }

    .input-text {
        width: 100px;
    }

    .login-card h2 {
        font-size: 14pt;
    }

    .login-card {
        width: 300px;
        height: 400px;
        margin-top: 6em;
    }

    .sugest-card {
        width: 300px;
        height: 750px;
        margin-top: 2em;
    }

    .sugest-card input {
        width: 90%;
    }

    .sugest-card textarea {
        width: 90%;
    }

    .tabela-funcionarios {
        width: 50%;
    }
    .tabela-funcionarios tr {
        height: 70px;
    }
    
}

/* FIM MEDIA QUERIES
////////////////////
*/

/*.card img {
    width: 100px;
    height: 100px;
    transform: translateY(10%);
    height: auto;
    display: block;
    position: relative;
    float: left;
}*/

.image-card {
    width: 100px;
    height: auto;
    position: absolute;
}

.into-card {
    display: block;

}

.link {
    text-decoration: none;
}

.fim-page {
    margin-bottom: 20px;
}


/* Adições bootstrap */
.bg-gray {
    background-color: #F0F3F4;
}

.bg-navcolor {
    background-color: #1E90FF;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

.align-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.footer {
    box-shadow: 2px 0px 4px 0 rgba(0,0,0,.2);
    margin-bottom: 0;
}
