
/* Css geral */
body {
    font-family: Nunito, sans-serif;
    font-weight: 600;
    height: 100%;
}

.card {
    margin-top: 1em;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
}

.login-card {
    margin-top: 1em;
    box-shadow: 6px 6px 0px -2px #737373;
}

.login-erro {
    background-color: #F2DEDE;
    color: #A94442;
    padding: 10px 0;
    margin-left: 20px;
    width: 90%;
    border-radius: 5px;

}

.login-card h2 {
    font-size: 18pt;
    padding-top: 1em;
}

.login-card label {
    padding: 0;
    margin: 2em 0 0;
}

.botao-entrar {
    margin-top: 2em;
}

.text-justify {
    text-align: justify;
}

.big-card {
    margin-top: 1em;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
    margin-bottom: 20px;
}

.title {
    font-size: 18pt;
    margin-top: 10px;
}

.big-card p {
    font-size: 14pt;
    margin-left: 30px;
    text-align: justify;
}


/* INDEX */

#home {
    background: url(../img/grupo.jpeg) no-repeat center center fixed;
    display: table;
    height: 600px;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    font-family: 'Shippori Antique B1', sans-serif;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
}

.two-section {
    margin-top: 25px;
    margin-bottom: 0;
}


@media screen and (min-width: 1170px) {

    .big-card {
        height: 600px;
    }

    .mapa {
        width: 100%;
        height: 100%;
        margin-top: 50px;
        margin-left: -50px;
    }

    .login-card {
        height: 400px;
        margin-top: 6em;
    }
    
}

@media screen and (max-width: 1169px) {
    .big-card {
        height: 1000px;
    }

    .mapa {
        width: 100%;
        height: 500px;
        margin-top: 100px;
    }

    .login-card {
        height: 500px;
    }

}

@media screen and (min-width: 768px) {
    .card {
        height: 125px;
    }

    .into-card {
        margin-top: 2%;
    }

    .image-card {
        transform: translateY(10%);
    }
    .mapa {
        margin-top: 100px;
    }


}

@media screen and (max-width: 767px) {
    .card {
        height: 200px;
    }

    .into-card {
        margin-top: 10%;
    }

    .image-card {
        transform: translatey(20%);
    }

    .big-card {
        height: 1000px;
    }

}

@media screen and (max-width: 576px) {
    .card {
        height: 300px;
    }

    .into-card {
        margin-top: 50%;
    }

    .image-card {
        transform: translateY(10%);
        margin-left: 35%;
    }

    .mapa {
        margin-top: -10px;
    }

    .input-text {
        width: 150px;
    }
}

@media screen and (max-width: 445px) {

    .card {
        height: 400px;
    }

    .into-card {
        margin-top: 75%;
    }

    .image-card {
        margin-left: 30%;
    }

    .input-text {
        width: 100px;
    }

    .login-card h2 {
        font-size: 14pt;
    }
    
}

/*.card img {
    width: 100px;
    height: 100px;
    transform: translateY(10%);
    height: auto;
    display: block;
    position: relative;
    float: left;
}*/

.image-card {
    width: 100px;
    height: auto;
    position: absolute;
}

.into-card {
    display: block;

}

.link {
    text-decoration: none;
}

.fim-page {
    margin-bottom: 20px;
}


/* Adições bootstrap */
.bg-gray {
    background-color: #F0F3F4;
}

.bg-navcolor {
    background-color: #1E90FF;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

.align-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.footer {
    box-shadow: 2px 0px 4px 0 rgba(0,0,0,.2);
    position: absolute;
    bottom: 0;
    width: 100%;
}
